parameters:
    paths:
        - ../src
        - ../public/index.php
    level: 7
    reportUnmatchedIgnoredErrors: false
    tmpDir: ../tests/_output
    bootstrapFiles:
        - ../vendor/autoload.php
